.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../theme-icons.svg");
    background-repeat: no-repeat;
    background-size: 51.2em 358.4em;
}

.no-svg .icon:before {
    background-image: url("../theme-icons.png");
}



  .icon.icon-bag:before {
      background-position: 0em 0em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.icon-bag-full:before {
      background-position: 0em -51.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.icon-close:before {
      background-position: 0em -102.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.icon-search:before {
      background-position: 0em -153.6em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.icon-user:before {
      background-position: 0em -204.8em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.icon-whislist:before {
      background-position: 0em -256em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.icon-whislist-full:before {
      background-position: 0em -307.2em;
      width: 51.2em;
      height: 51.2em;
  }





